<!-- <ion-header>
  <ion-toolbar>
    <ion-title>About Developer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/about.jpg" style="height: 100px;" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Shravan Kumar Vishwakarma</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>
</ion-content> -->


<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-menu-button style="color: whitesmoke; font-size: 30px;"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="checkmark-circle" style="color: green; font-size: 30px;"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../assets/about.jpg" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">Shravan Vishwakarma</h3>
          <h5 class="country">+91 7665338191</h5>
          <h6 class="country">shravanvishwakarma5@gmail.com</h6>
        </div>
        
        <div style="text-align: center;">
          <ion-button style="--background:#9dc912" shape="round" href="https://shravanvishwakarma.ml">View Portfolio</ion-button>
        </div>

        <div style="text-align: center;">
          <ion-button style="--background:#9dc912" shape="round" href="https://earth24.tech/">View Website</ion-button>
        </div>

      </div>
    </div>
</ion-content>